<div class="well login-form">
  <h1>New placement</h1>
  <%= form_for @placement do |f| %>
      <table>
        <tr>
          <td>Placement name: </td><td><%= f.text_field :title, required: true %></td>
        </tr>
        <tr>
          <td>Placement price: </td><td><%= f.number_field :price, step: 0.01, required: true %></td>
        </tr>
        <tr>
          <td>Placement address: </td><td><%= f.text_field :address, required: true, size: '30x6' %></td>
        </tr>
        <%= f.fields_for :comments_attributes do |c| %>
            <tr>
              <td>Placement description: </td><td><%= c.text_area :text %></td>
            </tr>
            <tr>
              <td>Placement images: </td><td><%= c.file_field :images, multiple: true, required: true, accept: 'image/png,image/gif,image/jpeg' %></td>
            </tr>
        <% end %>
      </table>
      <br>
      <%= f.submit 'Create' %>
  <% end %>
</div>