<h1>New placement</h1>
<%= form_for @placement do |f| %>
    <p>Placement name: <%= f.text_field :title, required: true %></p>
    <p>Placement price: <%= f.number_field :price, step: 0.01, required: true %></p>
    <p>Placement address: <%= f.text_field :address, required: true, size: '30x6' %></p>
    <%= f.fields_for :comments_attributes do |c| %>
      <p>Placement description: <%= c.text_area :text %></p>
      <p>Placement images: <%= c.file_field :images, multiple: true, required: true, accept: 'image/png,image/gif,image/jpeg' %></p>
    <% end %>
    <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back to list', placements_path %>